@page "/"
@using BlazorApp1.Models

@inject IDataService<Blog> DataServiceBlog;

<PageTitle>Index</PageTitle>

<Table TItem="Blog" DataService="@DataServiceBlog"
       AllowResizing="true" IsStriped="true" IsBordered="true"
       ShowToolbar="true" ShowDefaultButtons="true" ShowSearch="true"
       ShowAdvancedSearch="false" IsMultipleSelect="true"
       ShowSkeleton="true" IsPagination="true" ShowSearchTextTooltip="false"
       ShowExtendButtons="false" ShowMultiFilterHeader="true" ShowExportButton="true"
       ShowLoading="true">

    <TableColumns>
        <TableColumn @bind-Field="@(context.Url)" Searchable="true" Sortable="true" Filterable="true" />
        <TableColumn @bind-Field="@(context.Rating)" Searchable="true" Sortable="true" Filterable="true" />
        <TableColumn @bind-Field="@(context.Required)" Searchable="true" Sortable="true" Filterable="true" />
    </TableColumns>
</Table>
