@using System.Diagnostics.CodeAnalysis
<style>

    .widget .dropdown-body h3 {
        color: #666666;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .widget .dropdown-body h4 {
        color: #444444;
        font-size: 15px;
        margin: 0;
    }

    .widget .dropdown-body small {
        color: #999999;
        font-size: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .widget .dropdown-item > div:not(.progress):last-child {
        width: calc(100% - 40px);
    }

    .widget .dropdown-item {
        padding: 0.5rem 1rem;
    }

    .widget .progress {
        height: 7px;
    }

    .widget .dropdown-item.active,
    .widget .dropdown-item:active {
        color: inherit;
    }

    .widget .dropdown-item:not(:nth-of-type(odd)):active {
        background-color: inherit;
    }
</style>

<DropdownWidget class="px-3">
    <DropdownWidgetItem Icon="fa fa-envelope-o" BadgeNumber="4">
        <HeaderTemplate>
            <span>4 Message not read</span>
        </HeaderTemplate>
        <BodyTemplate>
            @for (var index = 0; index < 4; index++)
            {
                <a class="dropdown-item d-flex align-items-center" href="#" @onclick:preventDefault>
                    <div style="width: 40px; height: 40px;">
                        <Avatar Url="https://www.blazor.zone/_content/BootstrapBlazor.Shared/images/git.svg" IsCircle="true" Size="Size.Small" />
                    </div>
                    <div class="ms-2">
                        <div class="d-flex position-relative">
                            <h4>Argo Zhang</h4>
                            <small><i class="fa fa-clock-o"></i> @(4 + index) mins</small>
                        </div>
                        <div class="text-truncate">Why not buy a new awesome theme?</div>
                    </div>
                </a>
            }
        </BodyTemplate>
        <FooterTemplate>
            <a href="#" @onclick:preventDefault>Show all</a>
        </FooterTemplate>
    </DropdownWidgetItem>
    <DropdownWidgetItem Icon="fa fa-bell-o" BadgeNumber="10" HeaderColor="Color.Success" BadgeColor="Color.Warning">
        <HeaderTemplate>
            <span>10 Notification</span>
        </HeaderTemplate>
        <BodyTemplate>
            @for (var index = 0; index < 10; index++)
            {
                <a class="dropdown-item d-flex align-items-center" href="#" @onclick:preventDefault>
                    <i class="fa fa-users text-primary"></i>
                    <div class="ms-2">5 new members joined</div>
                </a>
            }
        </BodyTemplate>
        <FooterTemplate>
            <a href="#" @onclick:preventDefault>Show all</a>
        </FooterTemplate>
    </DropdownWidgetItem>
    <DropdownWidgetItem Icon="fa fa-flag-o" BadgeNumber="9" HeaderColor="Color.Danger" BadgeColor="Color.Danger">
        <HeaderTemplate>
            <span>3 Task</span>
        </HeaderTemplate>
        <BodyTemplate>
            <a href="#" class="dropdown-item" @onclick:preventDefault>
                <h3 class="position-relative">
                    Design some buttons
                    <small class="pull-right">20%</small>
                </h3>
                <Progress IsAnimated="true" IsStriped="true" Value="20" Color="Color.Primary"></Progress>
            </a>
            <a href="#" class="dropdown-item" @onclick:preventDefault>
                <h3 class="position-relative">
                    Create a nice theme
                    <small class="pull-right">40%</small>
                </h3>
                <Progress Value="40" Color="Color.Success"></Progress>
            </a>
            <a href="#" class="dropdown-item" @onclick:preventDefault>
                <h3 class="position-relative">
                    Some task I need to do
                    <small class="pull-right">60%</small>
                </h3>
                <Progress Value="60" Color="Color.Danger"></Progress>
            </a>
        </BodyTemplate>
        <FooterTemplate>
            <a href="#" @onclick:preventDefault>Show all</a>
        </FooterTemplate>
    </DropdownWidgetItem>
</DropdownWidget>

@*<FullScreenButton Title="Click for full screen operation" />
*@
@code
{
}