@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<CascadingValue Value="@this" IsFixed>
    <CascadingValue Value="@State">
        <div  class="@ClassString" @attributes="@AdditionalAttributes">
            @ChildContent
        </div>
    </CascadingValue>
</CascadingValue>
