@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

@if (IsCustom)
{
    <div class="@ClassString" @attributes="@AdditionalAttributes">
        @ChildContent
    </div>
}
else
{
    <i class="@ClassString" @attributes="@AdditionalAttributes"/>
    @ChildContent
}

