@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<a role="button" class="@ClassString" style="@StyleClassString" aria-label="Toggle navigation" @onclick="@ClickHandler" @attributes="@AdditionalAttributes">
    <span class="navbar-toggler-icon" aria-hidden="true"></span>
    @ChildContent
</a>
