@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div class="@ClassString" @attributes="@AdditionalAttributes">
    @ChildContent
    @if(!IsHorizontal )
    {
        <NavbarToggler class="b-bar-mobile-toggle" />
    }
</div>
