@page "/navbars"

<div style="width:300px;height:700px;overflow:hidden;border:1px solid red;">
    <Navbar Breakpoint="BreakPoint.Medium"
        NavigationBreakpoint="BreakPoint.Small"
        ThemeContrast="NavbarTheme.Dark"
        Mode="NavbarMode.VerticalInline"
        CollapseMode="NavbarCollapseMode.Small">
        <NavbarToggler />
        <NavbarBrand>

            <NavbarItem>
                <NavbarLink To="">
                    <NavbarIcon IsCustom="true">
                        <img src="_content/BootstrapBlazor.Shared/images/logo.png" style="width:32px; height: 32px" />
                    </NavbarIcon>
                    Navbar Demo
                </NavbarLink>
            </NavbarItem>

        </NavbarBrand>

        <NavbarMenu>
            <NavbarSection>

                <NavbarItem>
                    <NavbarLink To="">
                        <NavbarIcon IconName="fa-database" >Dashboard</NavbarIcon>
                    </NavbarLink>
                </NavbarItem>

                <NavbarItem>
                    <NavbarDropdown>
                        <NavbarDropdownToggle>
                            <NavbarIcon IconName="fa-wrench" > UI Elements</NavbarIcon>
                        </NavbarDropdownToggle>
                        <NavbarDropdownMenu>
                            <NavbarDropdownItem To="tests/buttons">Buttons</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/cards">Cards</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/carousel">Carousel</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/collapse">Collapse</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/dragdrop">Drag & Drop</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/elements">General UI</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/figures">Figures</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/icons">Icons </NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/listgroup">List group</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/modals">Modals</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/progressbars">Progress bars</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/ratings">Rating</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/steps">Steps</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/tables">Tables</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/tabs">Tabs</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/typography">Typography</NavbarDropdownItem>
                        </NavbarDropdownMenu>
                    </NavbarDropdown>
                </NavbarItem>

                <NavbarItem>
                    <NavbarDropdown>
                        <NavbarDropdownToggle>
                            <NavbarIcon IconName="fa-edit" >Forms</NavbarIcon>
                        </NavbarDropdownToggle>

                        <NavbarDropdownMenu>
                            <NavbarDropdownItem To="tests/forms">Forms</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/focus-trap">Focus Trap</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/pickers">Pickers</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/validations">Validations</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/misc-forms">Misc</NavbarDropdownItem>
                            <NavbarDropdown>
                                <NavbarDropdownToggle>Nested Forms</NavbarDropdownToggle>
                                <NavbarDropdownMenu>
                                    <NavbarDropdownItem To="tests/forms">Nested Forms</NavbarDropdownItem>
                                    <NavbarDropdownItem To="tests/validations">Nested Validations</NavbarDropdownItem>
                                </NavbarDropdownMenu>
                            </NavbarDropdown>
                        </NavbarDropdownMenu>
                    </NavbarDropdown>
                </NavbarItem>

                <NavbarItem>
                    <NavbarDropdown>
                        <NavbarDropdownToggle>
                            <NavbarIcon IconName="fa-th" >Datagrid</NavbarIcon>
                        </NavbarDropdownToggle>

                        <NavbarDropdownMenu>
                            <NavbarDropdownItem To="tests/datagrid">Configurable demo</NavbarDropdownItem>

                            <NavbarDropdown>
                                <NavbarDropdownToggle>Data</NavbarDropdownToggle>
                                <NavbarDropdownMenu>
                                    <NavbarDropdownItem To="tests/datagrid/data/in-memory">In Memory</NavbarDropdownItem>
                                    <NavbarDropdownItem To="tests/datagrid/data/read-data">From an External Source</NavbarDropdownItem>
                                </NavbarDropdownMenu>
                            </NavbarDropdown>

                            <NavbarDropdown>
                                <NavbarDropdownToggle>Virtualize</NavbarDropdownToggle>
                                <NavbarDropdownMenu>
                                    <NavbarDropdownItem To="tests/datagrid/virtualize/in-memory">In Memory</NavbarDropdownItem>
                                    <NavbarDropdownItem To="tests/datagrid/virtualize/read-data">From an External Source</NavbarDropdownItem>
                                </NavbarDropdownMenu>
                            </NavbarDropdown>

                            <NavbarDropdown>
                                <NavbarDropdownToggle>Selection</NavbarDropdownToggle>
                                <NavbarDropdownMenu>
                                    <NavbarDropdownItem To="tests/datagrid/selection/single">Single</NavbarDropdownItem>
                                    <NavbarDropdownItem To="tests/datagrid/selection/multiple">Multiple</NavbarDropdownItem>
                                    <NavbarDropdownItem To="tests/datagrid/selection/row-detail">Row Detail</NavbarDropdownItem>
                                    <NavbarDropdownItem To="tests/datagrid/selection/styling">Styling</NavbarDropdownItem>
                                </NavbarDropdownMenu>
                            </NavbarDropdown>

                            <NavbarDropdown>
                                <NavbarDropdownToggle>Editing</NavbarDropdownToggle>
                                <NavbarDropdownMenu>
                                    <NavbarDropdownItem To="tests/datagrid/editing/commands">Commands</NavbarDropdownItem>
                                    <NavbarDropdownItem To="tests/datagrid/editing/button-row">Button Row</NavbarDropdownItem>
                                    <NavbarDropdownItem To="tests/datagrid/editing/update-cell">Update Cell</NavbarDropdownItem>
                                </NavbarDropdownMenu>
                            </NavbarDropdown>

                            <NavbarDropdown>
                                <NavbarDropdownToggle>Filter</NavbarDropdownToggle>
                                <NavbarDropdownMenu>
                                    <NavbarDropdownItem To="tests/datagrid/filter/standard">Standard</NavbarDropdownItem>
                                    <NavbarDropdownItem To="tests/datagrid/filter/custom">Custom</NavbarDropdownItem>
                                    <NavbarDropdownItem To="tests/datagrid/filter/column-filter">Column Filter</NavbarDropdownItem>
                                </NavbarDropdownMenu>
                            </NavbarDropdown>

                            <NavbarDropdown>
                                <NavbarDropdownToggle>Sort</NavbarDropdownToggle>
                                <NavbarDropdownMenu>
                                    <NavbarDropdownItem To="tests/datagrid/sort/single">Single</NavbarDropdownItem>
                                    <NavbarDropdownItem To="tests/datagrid/sort/multiple">Multiple</NavbarDropdownItem>
                                    <NavbarDropdownItem To="tests/datagrid/sort/field">Custom Field</NavbarDropdownItem>
                                </NavbarDropdownMenu>
                            </NavbarDropdown>

                            <NavbarDropdownItem To="tests/datagrid/aggregates">Aggregates</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/datagrid/validations">Validations</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/datagrid/pager">Pager</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/datagrid/resize">Resize</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/datagrid/fixed-header">Fixed Header</NavbarDropdownItem>
                        </NavbarDropdownMenu>

                    </NavbarDropdown>
                </NavbarItem>

                <NavbarItem>
                    <NavbarDropdown>
                        <NavbarDropdownToggle>
                            <NavbarIcon IconName="fa-puzzle-piece" />Extensions
                        </NavbarDropdownToggle>

                        <NavbarDropdownMenu>
                            <NavbarDropdownItem To="tests/components">Components</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/charts">Charts</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/livecharts">Live Charts</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/markdown">Markdown</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/treeview">TreeView</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/richtextedit">RichTextEdit</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/spinkit">Spin Kit</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/video">Video</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/qrcode">QR Code</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/animate">Animate</NavbarDropdownItem>
                        </NavbarDropdownMenu>

                    </NavbarDropdown>
                </NavbarItem>
            </NavbarSection>

            <NavbarSection IsFarPart="true">

                <NavbarItem>
                    <NavbarDropdown>

                        <NavbarDropdownToggle>
                            <NavbarIcon IconName="fa-flask" >Utilities</NavbarIcon>
                        </NavbarDropdownToggle>

                        <NavbarDropdownMenu>
                            <NavbarDropdownItem To="tests/utilities/borders">Borders</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/utilities/flex">Flex</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/utilities/overflow">Overflow</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/utilities/layout">Layout</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/utilities/position">Position</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/utilities/shadows">Shadows</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/utilities/sizing">Sizing</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/utilities/vertical-align">Vertical align</NavbarDropdownItem>
                            <NavbarDropdownItem To="tests/utilities/services">Services</NavbarDropdownItem>
                        </NavbarDropdownMenu>

                    </NavbarDropdown>
                </NavbarItem>

                <NavbarItem>
                    <NavbarDropdown>
                        <NavbarDropdownToggle>
                            <NavbarIcon IconName="fa-phone" >Apps</NavbarIcon>
                        </NavbarDropdownToggle>
                        <NavbarDropdownMenu>
                            <NavbarDropdownItem To="apps/todo">Todo</NavbarDropdownItem>
                        </NavbarDropdownMenu>
                    </NavbarDropdown>
                </NavbarItem>

            </NavbarSection>
        </NavbarMenu>
    </Navbar>
</div>
